

.sub-menu{
  padding-top: 1rem;
  background-color: black;
}

.sub-menu li a:focus, a:hover, a:active{
  background-color: black;
}

.sub-menu li a{
  padding-left: 1em;
  text-decoration: underline;
  text-align:center;
}

.sub-menu a {
  list-style: circle;

}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1em;
  text-align: center;
}

.site-title a {
  color: white;
  text-decoration: none;
}

.site-title a:hover, .site-title a:focus {
  text-decoration: underline;
}

.site-description {
  margin: 0;
  font-size: .9em;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  padding-top: 10px;
}